@import "./helpers";

.nav-container {
  @include flexbox(row, space-between, center);
  height: 72px;
  padding-bottom: 2px;
  // background-color: rgb(250, 250, 250);
  color: rgb(39, 39, 39);
  border-bottom: 1px solid black;
  margin-bottom: 16px;
  opacity: 0.99;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 99;
  // width: 100vw;
  overflow-x: auto;
  .dropdown-menu {
    // max-height: 176px;
    overflow-y: auto;
  }
  img {
    padding: 1px;
    &:hover {
      border: 1px solid $oj;
      padding: 0;
    }
  }
}
.event-list {
  max-height: 70vh;
  overflow-y: auto;
}

.react-calendar {
  max-width: 95vw;
}
.transition-height {
  max-height: fit-content;
  // max-height:999px
  overflow-y: auto;
  transition: max-height 2s;
}
